/payment-orchestrator/target/
/auth-ms-java/target/
/api-gateway/target/
/admin-server/target/
/discovery-server/target/
/merchant-service/target/

*.log
*.tmp
*.bak
*.swp
*.class
*.jar
*.war
*.ear
.DS_Store
.idea/
.vscode/
node_modules/
/dist/
*.xml
