server:
  port: ${PORT:8080}

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: actuator-merchant
          uri: lb://merchant-service
          predicates:
            - Path=/actuator/merchant/**
          filters:
            - StripPrefix=2
        - id: actuator-auth
          uri: lb://AUTH-MS
          predicates:
            - Path=/actuator/auth/**
          filters:
            - StripPrefix=2
        - id: auth-login
          uri: lb://AUTH-MS
          predicates:
            - Path=/auth/login
            - Method=POST
          filters:
            - StripPrefix=0
        - id: auth-service
          uri: lb://AUTH-MS
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=0
      discovery:
        locator:
          enabled: true
          lowerCaseServiceId: true
      httpclient:
        connect-timeout: 2000
        response-timeout: 5s
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://discovery-server:8761/eureka}
management:
  endpoints:
    web:
      exposure:
        include: "*"
